.box{
    text-align: center;
    width: 100%;
    height: 100%;
}
.logo{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.zh-msg{
    font-family: "阿里巴巴普惠体";
    font-size: 20px;
}
.en-msg{
    font-family: "HarmonyOS Sans Light";
    font-size: 20px;
}